# Dependencias de Node.js
node_modules/

# Archivos de configuración de logs
*.log

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación de TypeScript
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.tmp
*.temp

# Scripts de inserción
script_insert_companies.js
script_insert_users.js